body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

@font-face {
    font-family: 'graphic-Medium';
    src: url(/Assets/font/Graphik-Medium-Web.woff2);
}

@font-face {
    font-family: 'graphic-Regular';
    src: url(/Assets/font/Graphik-Regular-Web.woff2);
}

@font-face {
    font-family: 'graphic-light';
    src: url(/Assets/font/Guardian-EgypTT-Light.woff2);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    border: none;
    background: transparent;
}

.searchBar-container-second-head {
    display: none;
}

.searchBar {
    display: none;
}

.list-ul {
    display: none;
}

.searchBar-container button {
    border: none;
    background: transparent;
    padding-right: 12px;
}

.searchBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(34, 34, 34, .05);
    border: 2px solid #222;
    border-radius: 96px;
    width: 100%;
}

.searchBar input {
    background: rgba(227, 218, 218, 0.05);
    border: none;
    width: 56%;
    padding: 16px 8px 13px 0px;
}

.profile-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    height: 48px;
}

.profile-items button {
    font-family: 'graphic-medium';
}

.account-container {
    display: flex;
}

.searchBar-container {
    display: flex;
}

.nav-search-bar {
    padding: 0px 12px;
    height: 109px;
}

.searchBar input::placeholder {
    font-size: 16px;
    padding: 1px 0px 100px 0px;
    font-family: 'graphic-regular';
}

.estyLogo-img a {
    margin-left: -3px;
}

.profile-items li a {
    padding: 12px;
}

.profile-items button {
    padding: 9px 15px;
}

.estyLogo-img img {
    margin-left: -3px;
}

.discover-container {
    margin-top: -1px;
    margin-bottom: 129px;
}

.head-container h2 {
    font-size: 20px;
    color: #222222;
    background: #d7e6f5;
    padding: 24px 12px 0px;
    font-family: 'graphic-light';
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    height: 179px;
}

/* img - container */
.img-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #d7e6f5;
    padding: 0px 6px 6px;
    height: 204px;
}

.img-ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-align: center;
    margin-top: 25px;
    margin-bottom: -6px;
}

.img-container {
    margin-top: -89px;
}

.img-ul li span {
    font-size: 13px;
    font-family: 'graphic-Medium';
    width: 57%;
    margin-top: 9px;
}

.img-small {
    width: 85px;
    border-radius: 50%;
}

/* deals */
.dealsOfTheDay {
    margin: 0px 0px 30px;
    padding: 0px 12px;
}

.deals-text {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    justify-content: space-between;
}

.deals-text h2 {
    font-size: 24px;
    font-family: 'graphic-Regular';
}

.deals-text span {
    font-size: 13px;
    font-family: 'graphic-Medium';
}

.deals-text i {
    margin-left: 6px;
}
.dealsUl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.dealsUl li {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddd;
    border-radius: 12px;
}

.dealsUl span:nth-child(2) {
    font-size: 13px;
    color: #242323;
    padding: 12px 12px 0px 12px;
    font-family: 'Graphic-Regular';
}
.dealsUl span:nth-child(3) {
    font-size: 16px;
    color: #242323;
    margin-bottom: 5px;
    padding: 5px 12px 12px 12px;
    font-family: 'Graphic-Medium';
    width: 99%;
}
.dealsUl img {
    border-top-left-radius:  12px;
    border-top-right-radius: 12px;
    width: 100%;
   
}
/* video */

.video-el {
    width: 337px;
    height: 261px;
    object-fit: cover;
}

.gifts-card ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 12px;
    margin: 10px;
}

.img-container1 img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.img-container1 video {
    width: 100%;
    height: 100%;
}

.gifts-card ul li{
    position: relative;
    list-style-type:  none;
    padding: 10px
}
.gifts-card li h3{
    font-size: 13px;
    font-family: 'graphic-Regular';
    -webkit-line-clamp: 1;
    letter-spacing: .1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* .gifts-card span img {
    width: 14px;
} */

.gifts-card h5{
    text-decoration: line-through;
    color: #258635;
    font-size: 13px;
    font-family: 'graphic-Regular';
    font-weight: 300;
}
.price-perc {
    font-size: 13px;
    color: #258635;
    font-family: 'graphic-Regular';
    font-weight: 300;
}


.price-both {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
/* march 7 */
.gift-heading h2 {
    font-size: 18px;
    font-family: 'graphic-Regular';
    text-align: center;
    margin-top: 10px;
}
.gifts-card p {
    font-size: 11px;
    font-family: 'graphic-medium';
    color: #222222;
    background: #d4e9d7;
    padding: 3px 6px;
    width: 84px;
    border-radius: 15px;
}

.gifts-card h4 {
    font-size: 15px;
    font-family: 'graphic-Regular';
}
.t-Review {
    font-size: 13px;
    color: #595959;
    font-family: 'graphic-Regular';
    font-weight: 300;
    margin-left: 5px;
}
.gifts-card li:hover {
   box-shadow:0 2px 18px rgba(34, 34, 34, 20%) ;
   border-radius: 10px;
   transition: .5s;

}
.img-container1 video{
    width: 100%;
    /* height: 196px; */
    border-radius: 10px;
}

.fav-icon {
    display: none;
}
.fav-img {
    width: 25px;
    border: 1px solid #dddd;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.favRed-img {
    width: 18px;
}
.fav-icon img {
    position: absolute;
    bottom: 81%;
    right: 10%;
}
.gifts-card li:hover .fav-icon{
    display: flex;
    transition: 2s;
}
.rates img{
    width: 12.5px;
}
.h-Rates img{
    width: 12.5px;
}
.main-container {
    background: #fdebd2;
}

.first-wave img{
    color: #fdebd2;
    background-color: #fdebd2;
    width: 100%;
    height: 18px;
}
.aboutEtsy {
    padding: 36px 30px;
}
.aboutEtsy h2 {
    font-size: 32px;
    color: #222222;
    margin: 0px 0px 6px;
}
.aboutEtsy a {
    font: 14px;
    color: #222222;
}
.community {
    margin: 0px 0px 6px;
    padding: 36px 0px 0px;
}

.whatIsEtsty::after {
    content: "Here are some of the ways we’re making a positive impact, together.";
    text-decoration: dotted;
    
}


@media screen and (min-width: 480px) {
    .dealsUl {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 640px) {
    .img-container {
        margin-top: -88px;
    }
    .img-ul {
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
        padding: 0px 24px;
        height: 87px;
    }

    .img-ul li span {
        margin-top: 10px;
        width: 72%;
        line-height: 1.3;
    }

    .head-container h2 {
        font-size: 27px;
        padding: 25px 12px 0px;
        line-height: 1.5;
        height: 166px;
    }

    .img-small img {
        width: 84px;
    }

    .searchBar input {
        width: 81%;
    }
    .dealsOfTheDay {
        padding: 0px 30px;
    }
    /* march 7 */
    .gifts-card ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img-container1 video {
        height: 140px;
    }
    .gift-heading h2 {
        text-align: start;
    }

}
@media screen and (min-width: 654px) {
    .img-ul {
        margin-top: 0px;
    }
}

@media screen and (min-width: 900px) {
    .searchBar-container {
        display: none;
    }

    .searchBar-container-second-head {
        display: block;
        width: 66.32%;
    }

    header {
        padding: 12px 36px;
    }

    .etsyLogo-img img {
        width: 80px;
        margin: 1px -11px 1px -6px;
        transform: translate(3px, 3px);
    }

    .nav-search-bar {
        padding: 0px;
    }

    .searchBar input {
        width: 89%;
        padding: 16px 0px 13px 8px;
    }

    .list-ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 36px;
    }

    .list-items {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 13px;
        padding: 0px 0px 13px;
        font-family: 'graphic-Regular';
        line-height: 1.3;
        list-style-type: none;
    }

    .head-container {
        margin-top: 13px;
    }

    .head-container h2 {
        font-size: 32px;
        height: 157px;
    }

    .img-small {
        width: 114px;
    }
    .dealsUl {
        grid-template-columns: repeat(6, 1fr);
        gap: 22px;
    }
    /* march 7 */
    .gifts-card ul {
        grid-template-columns: repeat(5, 1fr);
    }
    .gifts-card li:nth-child(6) {
        display: none;
    }

}

@media screen and (min-width: 1200px) {
    .img-container {
        display: flex;
        justify-content: center;
    }
    .img-ul {
        padding: 0px 80px;
        margin-top: 0px;
        max-width: 1110px;
        gap: 55px;
    }

    .img-ul li span {
        font-size: 16px;
        width: 100%;
    }

    .head-container {
        margin-top: -5px;
    }

    .head-container h2 {
        padding: 18px 12px 0px;
    }
    .dealsOfTheDay {
        padding: 0px 36px;

    }
    /* march7 */
    .gifts-section {
        padding: 0px 36px;
    }
    .img-container1 video {
        height: 150px;
    }

}


