/* Font style */
@font-face{
    font-family:'cereal';
    src: url('/Azure/Asset/font/latest.woff2') format("truetype");
}
@font-face{
    font-family:'cereal-bold';
    src: url('/Azure/Asset/font/MWFFluentIcons.woff2') format("truetype");
}
@font-face{
    font-family:'cereal-medium';
    src: url('/Azure/Asset/font/latest\ \(1\).woff2') format("truetype");
}

/* *{
    border: 1px solid #000000;
} */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
/* .all-section{
    transform: translate(0px, -1px);
} */
@media screen and (min-width:320px){
    
.img-top{
    display: none;
}
.mobile{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
}
.menu-img svg{
    width: 32px;
    padding-top: 5px;
    transform: translate(4px, -1.6px);
}
.burger-nav span img{
    padding-top: 5px;
    transform: translate(-1px, 1px);
}
.azure{
    transform: translateY(-1px);
}
.azure a{
    font-family: 'cereal-medium';
    text-decoration: none;
    color: #1a1a1f;
    font-size: 18px;
    font-weight: 600;
}
.burger-nav-azure {
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 15px;
    transform: translate(3px, -3px);
}
.search i{
    transform: translate(3px, 2px);
}
.mob-search-sign{
    display: flex;
    transform: translate(-13px, -5px);
    padding-top: 15px;
    gap: 36px;
}
.sign-mobile{
    transform: translate(1px, -2px);
}
.sign-mobile a{
    text-decoration: none;
    color: #1a1a1f;
    font-family: 'cereal';    
    font-size: 14px;
}
.mob-search-sign .search{
    color: rgb(127, 132, 136);
}
.header-one{
    display: block;
}
.header-two{
    display: none;
}
.header-three{
    display: none;
}
.header-four{
    display: none;
}
.top-main{
    background: #f3f3f3;
    padding: 10px;
}

.heading-section{
    position: relative;
    top: -28px;
}

.top-head{
    padding: 45px 0;
    background: #f3f3f3;
    margin-top: -9px;
    font-family: 'cereal';
    box-sizing: border-box;
}
.first-head h1{
    font-family: 'cereal-medium';
    font-size: 16px;
    font-weight: 600;
    color: #0078d4;
    transform:translate(2px, 8px);


}
.second-head h1{
    font-family: 'cereal-medium';
    font-weight: bold;
    font-size: 29px;
    transform: translate(2px, -2px);
}
.second-head p{
    line-height: 1.5;
    width: 99%;
    transform: translate(2px, -10px);
}
/* top button */
.btn-head-section{
    position: relative;
    top: -42px;
    right: 12px;

}
.btn-head-section a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'cereal-medium';
}
.btn-head-section .btn-blue{
    border: 1px solid #0078d4;
    border-radius: 3px;
    background: #0078d4;
    color: #fff;
    font-weight: 600;
    padding: 9px 13px;
    font-family: ''cereal-medium'';
    margin: 8px 24px 0px;
    position: relative;
    top: 10px;
    padding-left: 13px;
    padding-top: 8px;
}
.btn-head-section .btn-black{
    border: 2px solid #000000;
    margin: 8px 5px;
    margin-left: 1px;
    color: #000000;
    position: absolute;
    font-weight: 600;
    top: -7px;
    font-size: 16px;
    transform: translate(3px, 1px);
    padding: 6px 13px 6px 12px;
}

/* button hover */
.btn-blue:hover{
    background: #046ebe;
}
.btn-black:hover{
    background: rgb(209, 204, 204);
}

.alert-msg{
    background: #243a5e;
    margin-top: -21px;
    height: 82px;
    /* padding: 3px 29px;
    margin-top: -20px; */
    display: flex;
    justify-content: center;

}
.alert-msg p a{
    text-decoration: none;
    text-align: center;
    color: #50e6ff;
    font-family: 'cereal-medium';
    position: relative;
    font-size: 16px;
    justify-content: center;
    line-height: 1;
    
}
.alert-msg p{
    padding-left: 25px;
    padding-top: 3px;
    padding-right: 18px;
}


/* .alert-msg p a::after{
  content: ">";

} */
.alert-msg i{
    color: #50e6ff;
    position: absolute; 
    top: 17px;
    left: 249px;
    font-size: 14px;
}

.container{
    margin: 24px 0px 16px;
    padding: 0px 12px;
    display: flex;
    justify-content: center;
}
.heading-grid h2{
    font-family: 'cereal-medium';
    font-family: 'cereal-medium';
    font-size: 19px;
    font-weight: 600;
    width: 100%;
    margin: 8px 0px 8px;
    line-height: 1.2;
}

/* ..................... */

.card-img img{
    width:99%;
    border: 1px solid #ffffff;
    border-radius: 12px;
}
.first-text{
    padding: 2px;
    padding: 8px 26px;
    font-size: 15px;
    transform: translateY(14px);
}
.first-text h3 a{
    font-family: 'cereal-medium';
    line-height: 1;
    color: #0067b8;
}
.first-text p{
font-family: 'cereal';
transform: translate(0px, -17px);
}
.card-img .first-text{
    padding-left: 20px;
    padding-right: 20px;
}
.first-box{
    display: table;
    border-radius: 8px;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
    width: 100%;
    height: 332px;


}
.container-box{
    padding: 15px 11px;
}
.card-img img{
    border: 1px solid #fff;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.card-img-two{
    width: 85px;
    height: 85px;
}

.second-text h3 a{
    margin: 0 0 8px;
}

/* card-two */
.second-box{
    display: flex;
    border: 1px solid #fff;
    border-radius: 13px;
    margin-top: 25px;
    padding: 14px;
    align-items: center;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
}
.second-box-col{
    display: flex;
    border: 1px solid #fff;
    border-radius: 13px;
    margin-top: 25px;
    padding: 14px;
    align-items: center;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
}
.card-img-two img{
    max-width: 88px;
    height: auto;
}

.second-text{
    font-family: 'cereal';
    padding: 26px;
    /* padding-top: 0px; */
    margin-top: -39px;
    transform: translateX(23px);
} 
}
.second-text-col{
    font-family: 'cereal';
    padding: 22px;
    padding-top: 0px;
    margin-top: -21px;
    transform: translateX(33px);
} 

.second-text-col h3{
    font-family: 'cereal-medium';
    padding-left: 0px;
    width: 100%;
    margin-left: -16px;
}
.second-text h3{
    font-family: 'cereal-medium';
    padding-left: 0px;
    line-height: 1.2;
    margin-left: -16px;
}
.second-text-col h3 a{
    font-weight: 'cereal-medium';
    margin: 0px 0px 8px;
    color: #0067b8;
    font-size: 17px;
}
.second-text h3 a{
    margin: 0px 0px 8px;
    color: #0067b8;
    font-size: 17px;
}
.second-text-col p{
    padding-left: 0px;
    margin: -19px 0px;
    width: 100%;
    margin: -18px;
}
.second-text p{
    padding-left: 0px;
    margin: -19px 0px;
    /* width: 109%; */
    margin: -19px;
    margin-top: -8px;
}
.first-text{
    padding: 8px 26px;
    font-size: 15px;
}
/* card-3 */

.card-img-three img{
    max-width: 80px;
    height: auto;
}
.center-btn {
    display: flex;
    justify-content: center;
    font-family: 'cereal';
    margin-top: 24px;
}
.center-btn a{
    text-decoration: none;
    font-weight: 400;
}
.center-btn .black a{
    color: #000000;
}
.center-btn .blue-line a{
    color: #0078d4;
    font-family: 'cereal-medium';
    border: 2px solid #0078d4;
    padding: 8px 11px;
    margin-left: -12px;
    margin-left: 6px;
}
.grid-heading{
    margin-top: 48px;
}
.heading-text{
    padding: 10px;
}
.heading-text h2{
    font-family: 'cereal-medium';
    width: 100%;
    font-size: 19px;
    line-height: 1.2;
}
/* hover */
.blue-line a:hover{
    color: white;
    background: #c0d6e9;
}

/* Featured List */
.feat-list ul{
    border-bottom: 1px solid #505050;
    display: flex;
    list-style-type: none;
    font-family: 'cereal-medium';
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    overflow: scroll;
    padding-left: 10px;
    white-space: nowrap;
    margin-top: 20px;

}
.feat-list ul li a:hover{
    background: #f0f0f0;
    color: #000000;
}
.feat-list li{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.feat-list ul li a{
    padding: 8px 24px;
    color: #505050;
    margin-top: -10px;
}
.feat-list ul li a{
    text-decoration: none;

}
.feat-list .feat a{
    color: #0067b8;
    font-weight: 600;
    padding: 8px 24px;
}
.feat-list .feat{
    border-bottom: 3px solid #0067b8;
}
.first-colmn .queue-colrow p{
    margin-top: -10px;
}

/* grid-colrow */
.grid-col-row{
    display: grid;
    padding: 0 12px;
    /* grid-template-columns: repeat(12, 1px); */
}
.queue-colrow{
    display: flex;
    margin-left: -9px;
    font-family: 'cereal';
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    border: 0px solid;
    border-radius: 5px;
    width: 92%;
    box-sizing: border-box;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgb(0 0 0 / 13%), 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 11%);
    transform: translateX(26px);
}
.grid-col-row:nth-child(2){
    grid-column: 3/5;
    grid-row: 10;
}
.queue-colrow .img-colrow{
    padding: 24px 24px 0;
}
.queue-colrow .link-colrow{
    padding: 5px 24px 24px;
    text-decoration: underline;
    font-family: 'cereal-medium';
    color: #0067b8;
    cursor: pointer;
}

.text-colrow{
    padding: 24px 24px 0;
}
.text-colrow p{
    width: 100%;
    text-align: center;
}

.img-click {
    font-family: 'cereal-medium';
    color: #0067b8;
    padding: 30px 20px;
    margin-top: 25px;
}
.img-click i{
    font-size: 15px;
    padding: 7px;
}
.icon-scroll{
    display: flex;
    align-items: flex-start;
    gap: 35px;
    overflow: scroll;
    justify-content: center;
}
.msg-icon {
    margin: 0px 12px;
    padding: 24px 0px;
}
.msg-icon h2{
    font-size: 1.1875rem;
    font-family: 'cereal-medium';
}
.img-nhs img{
filter:grayscale(1)
}
.img-nhs img:hover{
    border: 3px solid #0067b8;
    border-radius: 9px;
    filter: grayscale(0);
}


@media screen and (min-width:768px){
    .header-one{
        display: none;
    }
    .header-two{
        display: block;
    
    }
    .menu-img svg{
        width: 24px;
        transform: translate(-3px, 1px);
    }
   .list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
   }
.mobile-two{
    display: flex;
    padding-left: 5px;
    background: #fff;
}
.mobile-two ul li i{
    padding: 4px;
    font-size: 9px;
    opacity: 0.7;
    margin-right: -1px;

}
.mobile-two ul li{
    padding-right: 13px;
    font-size: 13px;
    font-weight: 100;
    font-family: 'cereal';
    cursor: pointer;
    opacity: 0.9;
}

.mobile-two ul{
    display: flex;
    transform: translate(1px, -1px);
    list-style-type: none;
    padding-left: 8px;
    padding-top: 3px;
    }
    div ul span{
    padding-left: 2px;
    cursor: pointer;
    }
    .right-icons{
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
        padding-top: 2px;
        gap: 20px;
    }
    .right-icons .search i{
        color: #676777;
        font-size: 12px;
    }
    .right-icons .burger-nav img{
        padding-top: 2px;
        padding-left: 5px;
    }
    .azure{
        transform: translate(-1px, 0px);
    }
    .search{
        transform:translate(4px, -2px);
    }
    .burger-nav img{
        transform:translate(5px, 1px);
    }
    .sign-mobile a{
        font-size: 13px;
    }
    /* Hover effect */
    .mobile-two ul li:hover{
        text-decoration: underline;
        }
        .list .azure a:hover{
        text-decoration: underline;
        }
/* .................. */
        .top-head{
            margin-top: -1px;
        }
        .alert-msg{
            margin-top: -21px;
            height: 58px;
        }
        .alert-msg i{
            top: 4px;
            left: 373px;
        }
        .alert-msg p{
            padding-left: 25px;
            padding-top: 3px;
            padding-right: 52px;
        }
  
}

@media screen and (min-width:860px){
.first-text{
    margin-top: -130px;
    position: static;
    padding: 3px 0px;
    margin-left: 0px;
    padding-left: 25px;
}
.heading-text h2{
    width: 63%;
}
.container-box{
    display: flex;
    padding: 25px 15px;
 
}
.card-img img{
    width: 99.60%;
    height: 425px;
}

.col-two{
    width: 100%;
    height: 100%;
    padding-left: 27px;
}
.second-box{
    margin-top: 1px;
    /* width: 94%; */
    /* ...... */
}
.second-text{

    padding: 31px;
    padding-top: 5px;
    margin-top: -17px;
    padding-left: 0px;
    margin-left: 36px;
} 
.second-text h3{
margin-left: -25px;
}



.second-text-col{
    padding-top: 0;
}
.second-text p{
    padding-left: 0px;
    margin: -19px;
    margin-top: -8px;
    margin-left: -27px;
}
.card-img {
    display: flex;
    width: 100%;
    height: 100%;
}
.card-img img{
 object-fit: cover;
 width: 100%;
 height: 436px;
}
.second-text-col h3{
    padding: 6px;
    margin-left: -23px;
}
.first-box{
    width: 100%;
    height: 100%;
    position: relative;
}
/* list */
.feat-list{
    position: relative;
    padding: 0 14px;
}
.feat-list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    margin-left: 0px;
    font-size: 15px;
    border: none;
    position: absolute;
    top: 90px;
    padding-left: 0px;
    white-space: unset;
    overflow: unset;

}
.feat-list ul li a{
    padding: 0px 0px;
    margin-top: -10px;
}
.feat-list ul li{
    font-size: 16px;
    margin: 0 0 16px;
    padding: 8px 0;
    padding-left: 25px;
    line-height: 1.5;
}
.feat-list .feat{
    border-bottom: none;
    border-left: 4px solid #0067b8;
}
.feat-list .feat a{
    padding: 0px;
}
.grid-col-row{
    padding: 0 12px;
}
.col-row{
    width: 96%;
    /* padding-right: 40px; */
    margin-left: -10px;
    margin-top: -20px;
}
.first-colmn{
    display: flex;
    gap: 35px;
    justify-content: right;
    height: 47%;
}
.queue-colrow{
    gap: 35px;
    width: 23%;
    display: flex;
    flex-direction: column;
   }
.queue-colrow img{
    width: 35px;
}
.second-colmn{
    display: flex;
    justify-content: right;
    margin-top: -13px;
    gap: 35px;
    height: 46%;
}
.link-colrow span{
    transform: translateY(20px);
}
.text-colrow{
    margin-top: -50px;
    transform: translate(3px, 10px);
}


.queue-colrow .link-colrow{
    transform: translateY(-30px);
}
.queue-colrow .changes{
    margin-top: 48px;
}
.queue-colrow .change-last{
margin-top: 24px;
}
.first-colmn .queue-colrow p{
    margin-top: 0px;
}

/* product-link */
.img-click{
    text-align: center;
}
.heading-grid h2{
    text-align: center;
}
.first-box{
    width: 100%;
    max-height: 100%;
    height: auto;
}
.card-img{
    height: 100%;
}
.card-img img{
    width: 99.60%;
    height: 433px;
}
.first-text{
    margin-top: -133px;
    transform: translate(1px, 10px);
}
.first-text h3 a{
    font-size: 18px;
}
.first-text p{
    padding-top: 5px;
}
.top-main{
    margin-inline: 49px;
}
.btn-head-section{
    margin-inline: 49px;
}
/* heading text */
.heading-text{
    margin-left: 5px;
}

/* three-box */
.second-box-col{
    margin-top: 38px;
    padding: 27px 0;
    padding-bottom: 11px;
}
.card-img-two-col{
    margin-left: 14px;
}
.second-text-col{
    margin-left: 32px;
    padding-bottom: 32px;
}


}

  @media screen and (min-width:892px){
.first-text{
    margin-top: -119px;
    padding-left: 5px;
}
.card-img img{
    width: 99.69%;
    height: 389px;
}
.second-box-col{
    margin-top: 39px;
}
}  



@media screen and (min-width:1080px){

    .header-two{
        display: none;
    }
    .header-three{
        display: block;
        padding-top: 7px;
    }
    .search-bar input{ 
        display: flex;
        width: 100px;
        transform: translate(68px, 10px);
        padding: 6px;
        padding-left: 12px;
        padding-bottom: 7px;
        background: #f8f9fa;
        border: 1px solid #676777;
        border-radius: 3px;
        font-family: 'cereal';
    }
    .search-bar input{
        transform: translate(62px, 10px);
    }
 
    .search-bar i{
        transform: translate(36px, 20px);
        font-size: 12.50px;
        color: #676777;
    }
    .search-bar{
        display: flex;
        align-items: flex-start;
        width: 100px;
        padding-left: 100px;
        transform: translateX(-87px);
    } 
    .header-three ul {
    display: flex;
    }
    .list{
        gap: 25px;
    }
    .mob-header-three{
        display: flex;
    }
    .mob-header-three ul{
        list-style-type: none;
        padding-left: 10px;
        font-family: 'cereal';
        transform: translate(-7px, 2px);
        margin-left: 10px;
    }
    .mob-header-three ul li{
        padding-right: 16px;
        font-size: 13px;
        font-weight: 100;
        font-family: 'cereal';
        opacity: 0.9;
     
    }
    .mob-header-three ul li i{
        margin-left: 4px;
        font-size: 9px;
        opacity: 0.7;
        
    }
    .mob-header-three{
        position: relative;
    }
    .right-list {
        display: flex;
        position: absolute;
        right: 10px;
    }
    .right-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-nav h3{
        opacity: 0.9;
        font-size: 13px;
        font-family: 'cereal';
        font-weight: 500;
        
    }
    .right-nav .green-join{
        background-color: #89c402;
        border: 1px solid #6f9e02;
        border-radius: 4px;
        color: #111111;
        width: 67.73px;
        font-weight: 600;
        font-size: 12px;
        padding: 9px;
        padding-left: 8px;
        line-height: 1;
        padding-right: 7px;
        text-align: center;
        transform: translate(88px, -8px);
    }

    .right-nav .sign{
        width: 10%;
        margin-left: 100px;
        transform: translate(3px, -8px);
        text-align: center;
        line-height: 13px;
    }
    .right-nav .contact{
        width: 50px;
        text-align: center;
        transform: translate(59px,-8px);
        line-height: 13px;
    }

        .right-nav .support {
            transform: translate(30px, -7px);
        }
        .right-nav .learn{
            transform: translate(14px, -7px);
        }
        .left-list{
            transform: translateX(10px);
        }

        .burger-nav .azure-text{
            transform: translate(1px, -1px);
        }
        .burger-nav .menu-img{
            transform: translate(2px, 0.6px);
        }
        .img-top{
            display: block;
        }
  
        .top-main{
            background: transparent;
        }
        .img-top img{
            width: 100%;
            height: 450px;
            overflow: hidden;
        }
        .top-head{
            background: url(/Azure/Asset/image/Desktop\ hero.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 459px;
            background-position-x: 51%;
            background-position-y: 3px;
            padding: 103px;
            margin-top: 1px;
        }
        .btn-head-section{
            position: relative;
            top: -54px;
            right: 25px;
        
        }
        .first-head h1{
            font-size: 16px;
            transform: translate(-11px, 1px);
        }
        .heading-section{
            position: relative;
            top: -28px;
        }
        .second-head h1{
            transform: translate(-11px, -13px);
            font-size: 37px;
        }
        .second-head p{
            line-height: 1.5;
            width: 54%;
            transform: translate(-11px, -22px);
        }
        /* ................... */
        .alert-msg{
            margin-top: 0px;
            height: 58px;
        }
        .menu-img svg{
            transform: translate(0px, 0px);
        }
        .azure{
        transform: translate(1px, -1px);
        }
        .left-list{
            transform: translate(10px, -1px);
        }




      /* container box */




      .container-box{
        padding: 0 55px;
      }
     
      .card-img img{
        height: 557px;
      }
      .first-text{
        margin-left: 36px;
        position: absolute;
        top: 490px;
        
      }
      .first-text p{
        width: 85%;

      }
      .card-img-two img{
        max-width: 100px;
      }

      .second-box{
        padding: 31px;
        width: 89%;
      }
      .second-text{
        margin-top: -25px;
        margin-left: 43px;
        padding: 32px;
      }
      .second-box-col{
        margin-top: 13px;
        width: 88%;
        padding: 35px;
        padding-bottom: 11px;
      }
    
      /* .first-box{
        background-image: url(/Azure/Asset/image/ez-button-01-dmwl.avif);
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
      } */
     .center-btn{
        margin-top: 50px;
     }
      

}
    
@media screen and (min-width: 1084px){
    .grid-heading{
        margin-top: 80px;
        padding: 0 50px;
    }
    .grid-heading h2{
        width: 60%;
        font-size: 21px;
    }
    .feat-list{
        padding: 0px 55px;
    }
    .feat-list ul{
        margin-top: 15px;
    }
    /* cards */
    .queue-colrow{
        gap: 23px;
        width: 19%;
        margin-top: 60px;
        height: 78%;
    }
    .col-row{
        margin-left: -70px;
        margin-top: -30px
    }
    .text-colrow{
        margin-top: -39px;
    }
    .text-colrow p{
        margin-top: 11px;
    }
    .queue-colrow .changes{
        margin-top: 25px;
    }
}



@media screen and (min-width:1094px){
    .header-three{
        display: none;
    }
    .header-four{
        display: block;
    }
    .top-head{
        margin-top: -5px
    }
    .left-list ul{
        display: flex;
    }
    .azure{
        transform: translate(1px, -1px);
    }
    .right-nav .green-join{
        width: 169%;
        font-size: 12px;
        padding: 9px;
        margin-right: -1px;
        line-height: 1;
        transform: translate(91px, -9px);

    }
    .right-nav .sign{
        width: 50px;
        transform: translate(3px, -8px);
      
    }
   .right-nav .contact{
        width: 78px;
        transform: translate(67px,-10px);
       
    }
    .right-nav{
        padding-top: 8px;
        transform: translate(6px, 0px);
    }
    .right-nav h3{
        margin-left: -10px;
    }
    .right-nav .sign{
        transform: translate(1px, -10px);
    }
    .right-nav .support{
        transform: translate(41px, -9px);
    }
    .right-nav .learn{
        transform: translate(15px, -9px);
    }
    .search-bar input{
        transform: translate(58px, 11px);
    }
    .search-bar i{
        transform: translate(32px, 21px);
    }
    .menu-img svg{
        transform: translate(0px, -0.4px);
    }
    .second-head p{
    width: 55%;
    }
    .alert-msg{
        height: 58px;
        margin-top: 0px;
    }
    .alert-msg p{
        padding-top: 3px;
        padding-right: 51px;
    }
    .alert-msg i{
        top: 5px;
        left: 373px;
        font-size: 14px;
    }
    .top-main{
        transform: translate(1px, 0px);
    }
    .btn-head-section{
        top: -54px;
        right: 24px;
    }

}

@media screen and (min-width:1558px){
    .header-four{
        max-width: 1558px;
        margin-inline: auto;
    }
    .alert-msg{
        margin-top: 0px;
    }
    .top-head{
        height: 516px;
    }
    .top-main{
        width: 66%;
    }
    .first-head h1{
    transform: translate(12px, 1px);
    }
    .second-head h1{
    transform: translate(12px, -19px);
    font-size: 50px;
    }
    .second-head p{
        transform: translate(12px, -36px);
    }
    .btn-head-section{
        top: -68px;
        right: 1px;
    }
    .heading-grid h2{
        font-size: 24px;
        margin: 35px 0px 8px;
    }
    
}
@media screen and (min-width:1600px){
    .header-four{
        max-width: 1600px;
        margin: auto;
    }
    .top-main{
        padding-left: 37px;
    }
    .btn-head-section{
        padding-left: 27px;
    }
    .top-head{
        height: 599px;
    }
    .search-bar{
        transform: translateX(-100px)
    }
}
