body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto-medium';
    src: url(/Assets/font/roboto-medium-webfont.woff2);
}
@font-face {
    font-family: 'roboto-regular';
    src: url(/Assets/font/roboto-regular-webfont.woff2);
}
.navBar {
    background: #2874f0;
}
.nav-section {
    display: flex;
}
.navHeading {
    display: flex;
    flex-direction: column;
}
.navSearch-bar form {
    display: flex;
    align-items: center;
}
<<<<<<< HEAD
/* */
=======
>>>>>>> e90a9de (feat:navProgres)
