/* font */
@font-face {
    font-family: cereal-bold;
    src: url(/Doordash/Assets/font/TTNorms-Bold.woff2);
}

@font-face {
    font-family: cereal-extraBold;
    src: url(/Doordash/Assets/font/TTNorms-ExtraBold.woff2);
}

@font-face {
    font-family: cereal-medium;
    src: url(/Doordash/Assets/font/TTNorms-Medium.woff2);
}

@font-face {
    font-family: cereal-regular;
    src: url(/Doordash/Assets/font/TTNorms-Regular.woff2);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    display: none;
}

.sign-link {
    display: none;
}

.white-icon {
    display: none;
}
.logo-heading h2 {
    display: none;
}

/* 320-view */
.secion-background {
    background: #f7f7f7;
    width: 100%;
    height: 24px;
}

.head-section {
    background-image: url(/Doordash/Assets/img/hero_landing_us_alt.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.sign-bars {
    display: flex;
    justify-content: flex-end;

}

.sign-flex {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-top: 16px;
    padding: 0px 24px 0px 0px;

}

.sign-flex a:nth-child(1) {
    color: #fff;
    font-family: 'cereal-bold';
    font-size: 17.1px;
    margin-right: 1px;
    letter-spacing: -0.10px;
    text-decoration: none;
}

.sign-flex a:nth-child(2) {
    border: 1px solid #fff;
    border-radius: 24px;
    background: #fff;
    color: #494949;
    font-size: 16px;
    font-family: 'cereal-bold';
    padding: 9px 11px 10px 11px;


    text-decoration: none;
}

.log-img {
    margin-top: 8px;
}

.head-main-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px 87px 0px;
    text-align: center;

}

.logo-heading p {
    font-size: 32px;
    color: #fff;
    font-family: 'cereal-bold';
    width: 319px;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 20px;
    letter-spacing: -0.9px;
    line-height: 1.24;
}

.search-bar-container {
    padding: 11px 1px 10px 2px;
    transform: translate(0px, 1px);
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 19px;
    margin-top: -4px;
    padding: 12px 16px;
    background: #fff;
    width: 241px;
}

input::placeholder {
    font-size: 16px;
    color: #555555;
}

.search-icon img {
    position: absolute;
    top: 11px;
    left: 11px;
}

.text-input input {
    font-size: 16px;
    color: #060404;
    border: none;
    margin-left: 40px;
    margin-top: -1px;
    font-family: 'cereal-medium';
    padding: 2px 0px 2px 0px;
}

.enter-icon button {
    background: transparent;
    border: none;
}

.enter-icon img {
    position: absolute;
    top: 11px;
    right: 11px;
}

/* main*/

.main-section {
    margin: 40px 0px;
    padding: 8px 0px;
}
.main-details {
    display: flex;
    flex-direction: column;

}
.img-details img {
    width: 88px;
    transform: translateX(-4px);
}
.details {
    display: flex;
    padding: 16px 0px;
    /* min-width: 360px */
}
.details:nth-child(2) {
    margin-top: -13px;
}
.text-details {
    margin-top: 0px;
    margin-left: 25px;
}
.headingAndtext h2 {
    margin: 0;
    font-family: 'cereal-bold';
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.9px;
    color: #191919;
    width: 68%;
}
.headingAndtext h3 {
    margin: 0;
    font-size: 18px;
    font-family: 'cereal-medium';
    color: #191919;
    line-height: 1.32;
    font-weight: 500;
}
.main-details button {
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background: none;
    margin: 14px -3px;
    font-family: 'cereal-bold';
    color: #eb1700;
    letter-spacing: -0.10px;
}
.main-details button img {
    transform: translate(1.7px, -0.5px);
}

/* app img */
.top-container {
    margin-top: 115px;
    background: #fff0ed;
    height: 881px;
}
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.img-right img{
    margin: -98px 0px 0px 74px;
}
.img-left img{
    margin: 0px 0px 0px 0px;
}
.down-text {
    white-space: nowrap;

}
.img-texts {
    margin: 20px 0px 0px;
    padding: 0px 81.6px 0px 16px;
}
.img-texts h2 {
    font-size: 24px;
    color: #191919;
    font-family: 'cereal-bold';
}
.img-texts h3 {
    font-size: 14px;
    color: #191919;
    line-height: 1.4;
    font-family: 'cereal-regular';
    width: 90%;
}
.img-texts a {
    text-decoration: none;
    border: 1px solid #eb1700;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-family: 'cereal-bold';
    padding: 7px 10px;
    width: 80px;
    background: #eb1700;
}
.img-texts p {
    border: 1px solid #eb1700;
    background: #eb1700;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-family: 'cereal-bold';
    padding: 7px 10px;
    width: 80px;
}
.headingAndtext {
    transform: translate(3px, 0px);
}
footer {
   background:rgb(25, 25, 25); 
}
footer h2 {
    color: #fff;
    font-size: 16px;
    font-family: 'cereal-medium';
}
footer a {
    color: #c4c4c4;
    font-size: 14px;
    text-decoration: none;
    font-family: 'cereal-medium';
 }
@media screen and (min-width: 375px) {
    .headingAndtext h3 {
        width: 91%;
    }
    .text-details {
        margin-top: 0px;
        margin-left: 51px;
    }
    .img-details img {
        margin-left: 27px;
    }
    .text-details {
        margin-top: -1px;
        margin-left: 24px;
    }
    .search-bar-container {
        transform: translate(-1px, 1px);  
    }
    .text-input input {
        font-size: 16px;
        color: #060404;
        border: none;
        margin-left: 40px;
        margin-top: -1px;
        font-family: 'cereal-medium';
        padding: 2px 0px 2px 2px;
    }
    
}
@media screen and (min-width: 425px) {
    .details {
        justify-content: center;
        padding: 16px;
    }
    .img-details img {
        margin-left: 10px;
    }
    .headingAndtext h2 {
        width: 100%;
    }
    .headingAndtext h2 {
        width: 246px;
    }
    .headingAndtext h3 {
        width: 247px;
    }
}
@media screen and (min-width: 768px) {
    .search-icon {
        display: none;
    }

    .head-section {
        height: 450px;
    }

    .navigation {
        display: block;
    }
    .secion-background {
        display: none;
    }

    .navigation img {
        position: absolute;
        top: 11px;
        left: 5px;
    }

    .search-bar-container {
        transform: translate(-1px, 1px);
    }

    .search-bar {
        width: 374px;
        border-radius: 25px;
        display: flex;
        justify-content: unset;
    }

    .text-input input {
        margin-left: 19.5px;
    }

    .sign-link {
        display: block;
        margin: 8px 0px 8px 0px;
    }

    .sign-link a {
        color: #fff;
        font-family: 'cereal-medium';
    }
    .img-details img {
        width: 124px;
    }
    .details {
        margin-bottom: 8px;
        gap: 54px;
    }
    .text-details {
        margin-top: -8px;
        margin-left: 0px;
    }
.img-details img {
    margin-left: 2px;
    margin-top: -7px;
    transform: translate(-8px, -1px);
}
}

@media screen and (min-width: 960px) {
    .head-section {
        height: 582px;
    }

    .logo-heading h2 {
        display: block;
    }

    .logo-heading {
        margin-top: 36px;
    }
   
    .logo-heading p {
        font-size: 62.99px;
        line-height: 1.21;
        letter-spacing: -1.29px;
        width: 700px;
    }

    .log-img {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 0px;
        margin-top: -42px;
    }

    .log-img img {
        width: 42px;
        margin-top: 37px;
        margin-left: 5px;
    }

    .log-img h2 {
        font-size: 23.5px;
        color: #fff;
        letter-spacing: 2.3px;
        font-family: 'cereal-medium';
    }

    .search-bar-container {
        margin-top: 4px;
    }

}

@media screen and (min-width: 1184px) {
    .black-icon {
        display: none;
    }

    .white-icon {
        display: block;
        border: 1px solid #eb1700;
        background: #eb1700;
        border-radius: 100%;
        padding: 7px;
    }

    .enter-icon img {
        position: absolute;
        top: 3px;
        right: 3px;
    }
    .main-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 119px
    }
    .details {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .img-details img {
        width: 154px;
    }
    .headingAndtext {
        text-align: center;
    }
    .main-details button {
        justify-content: center;
        width: 255px;
    }
    .main-details span {
        font-size: 18px;
    }
    .header {
        margin-bottom: 94px;
    }

}
@media screen and (min-width: 1700px) {
    .head-section {
        height: 580px;
    }
}